	<!-- 底部文件 -->
	<footer>
		<hr>
		<div class="container text-center">
			<span class="text-muted">&copy; 2014 Hotes | </span>
			<a href="/feed.xml" target="_blank">RSS</a>
			<span class="text-muted"> | </span>
			<a href="https://github.com/h01/h01.github.io" target="_blank">GitHub</a>
			<span class="text-muted"> | </span>
			<!-- 百度统计 -->
			<script type="text/javascript">
				var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
				document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F{{ site.baidutongji }}' type='text/javascript'%3E%3C/script%3E"));
			</script>
		</div>
	</footer>
	<!-- 谷歌更新优化 -->
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		try {
			var pageTracker = _gat._getTracker("{{ page.tags | join: ',' }}");
			pageTracker._trackPageview();
		} catch(err) {}
	</script>
</body>
</html>