	<!-- 底部文件 -->
	<hr class="divider">
	<footer>
		<div class="container">
			<div class="pull-left">
				<p class="text-muted">&copy; 2014 Hotes.</p>
			</div>
			<div class="pull-right">
				<a href="/feed.xml" target="_blank" class="text-danger">RSS</a>
				<span class="text-muted"> | </span>
				<a href="https://github.com/h01" target="_blank" class="text-success">GitHub</a>
				<div style="display: none;">
					<!-- 百度统计 -->
					<script type="text/javascript">
						var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
						document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F{{ site.baidutongji }}' type='text/javascript'%3E%3C/script%3E"));
					</script>
				</div>
			</div>
		</div>
	</footer>
	<!-- 谷歌更新优化 -->
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		try {
			var pageTracker = _gat._getTracker("{{ page.tags | join: ',' }}");
			pageTracker._trackPageview();
		} catch(err) {}
	</script>
</body>
</html>