<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{{ site.description }}">
	<!-- 引用CSS|JS -->
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<!-- 自定义CSS -->
	<link rel="shortcut icon" href="/static/img/icon.png" />
	<style type="text/css">
	.media>.pull-left {
		margin-right: 0;
		padding-right: 12px;
		border-right: 5px solid #eee;
	}
	::selection {
		color: #FFF;
		background: rgba(0, 0, 0, 0.8);
	}
	</style>
</head>
<body>
	<!-- 导航栏 -->
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#hotes-navbar-collapse">
					<span class="sr-only">切换</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">{{ site.title }}</a>
				<p class="navbar-text hidden-xs">{{ site.description }}</p>
			</div>
			<div class="collapse navbar-collapse" id="hotes-navbar-collapse">
				<ul class="nav navbar-nav pull-right">
				{% for p in site.pages %}
					{% if p.title %}
					{% if p.url == page.url %}
					<li class="active">
					{% else %}
					<li>
					{% endif %}
						<a href="{{ p.url }}"><span class="glyphicon {{ p.icon }}"></span> {{ p.title }}</a>
					</li>
					{% endif %}
				{% endfor %}
				</ul>
			</div>
		</div>
	</nav>