.media>.pull-left {
	margin-right: 10px;
	padding-right: 12px;
	border-right: 1.5px solid #eee;
}
::selection {
	color: #FFF;
	background: #19A384;
}
code {
	color: #D02F00;
	font-weight: bold;
}
footer {
	margin-bottom: 15px;
}
.CodeMirror {
	width: 100%;
	height: 100%;
	border: 1px solid rgba(1, 1, 1, 0.3);
}
.code {
}
h4 {
	color: #515151;
	cursor: pointer;
	-moz-transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}
h4:hover {
	color: #1091A1;
}